name: Metrics
on:
  schedule: [{cron: "0 */12 * * *"}] #This cron will run the workflow every day 12:00AM
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # See action.yml for all options
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          user: Nirzak
          repositories_batch: 80
          committer_message: github metrics updated
